@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 240 10% 91%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 250 60% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14% 90%;
    --secondary-foreground: 220 10% 20%;
    --muted: 220 14% 95%;
    --muted-foreground: 220 8% 40%;
    --accent: 340 82% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 250 60% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 95%;
    --card: 240 10% 7%;
    --card-foreground: 0 0% 95%;
    --popover: 240 10% 7%;
    --popover-foreground: 0 0% 95%;
    --primary: 250 60% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 10% 16%;
    --secondary-foreground: 0 0% 90%;
    --muted: 220 10% 12%;
    --muted-foreground: 220 8% 60%;
    --accent: 340 82% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 250 60% 60%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  scrollbar-width: none !important;
}

.prose-custom {
  --tw-prose-body: #ffffff;
  --tw-prose-headings: #ffffff;
  --tw-prose-lead: #ffffff;
  --tw-prose-links: #ffffff;
  --tw-prose-bold: #ffffff;
  --tw-prose-counters: #ffffff;
  --tw-prose-bullets: #ffffff;
  --tw-prose-hr: #ffffff;
  --tw-prose-quotes: #ffffff;
  --tw-prose-quote-borders: #ffffff;
  --tw-prose-captions: #ffffff;
  --tw-prose-code: #ffffff;
  --tw-prose-pre-code: #ffffff;
  --tw-prose-pre-bg: #ffffff;
  --tw-prose-th-borders: #ffffff;
  --tw-prose-td-borders: #ffffff;
}
